.widgetItem {
  width: 305px;
  height: 153px;
  border-radius: 12px;
  position: relative;
  padding: 21px 30px 30px 21px;
  margin-right: 20px;
  display: flex;

  &__button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;

    &_close {
      position: absolute;
      overflow: hidden;
      top: 10px;
      right: 10px;

    }
  }
  &__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 27px;
  }
  &__circle {
    height: 66px;
    width: 66px;
    border-radius: 50%;
    backdrop-filter: brightness(85%);
    margin-bottom: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__validity {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
  }
  &__right {
    display: flex;
    flex-direction: column;
    width: 156px;
    justify-content: space-between;
  }
  &__text {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    opacity: 1;
  }
  &__limit {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    font-style: normal;
  }
}