.widgetsList {
  height: 326px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-between;
  align-content: flex-start;
  position: relative;
}




