.registrationForm {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-family: 'Montserrat', sans-serif;
  margin-top: 21px;

  &_input__error {
    font-size: 10px;
    margin: 5px 0;
    color: red;
  }
  &_submit__error {
    font-size: 14px;
    margin: 5px 0;
    color: red;
  }
  &_input {
    display: flex;
    align-items: center;
    margin-bottom: 14px;

    label {
      font-size: 14px;
      line-height: 21px;
      color: #7367F0;
    }
  }

  .label {
    font-size: 12px;
    font-weight: 400;
    color: #6E6B7B;
    margin-bottom: 2px;
    &__email {
      margin-bottom: 2px;
    }
    &__password {
      margin-bottom: 2px;
    }
    &__username {
      text-decoration: none;
    }
  }

}
