input[type="submit"] {
  height: 38px;
  border-radius: 5px;
  background-color: #7367F0;
  color: #FFF;
  font-weight: 500;
  letter-spacing: 0.4px;
  font-size: 14px;
  outline: none;
  border: none;
  margin-bottom: 20px;
  width: 100%;
}