.modalContent {
  &__label {
    font-size: 34px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 27px;
    padding: 31px 70px 0 70px;
  }

  &__error {
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
  }
  &__input {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.input {
  padding: 2px;
  width: 300px;
  text-align: center;
  color: #6E6B7B;
  font-size: 18px;
  line-height: 24px;

  border: none;
  height: 40px;
  outline: none;
  margin-bottom: 20px;
}

